body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
 }

.box {
    width: 1000px;
    height: 200px;
     display: inline-block;
    border-radius: 10px;
    font-size: 40px;
    vertical-align:top;
    overflow: hidden;

}
.container {
    width: 50%;
    text-align: center;
    margin-left: 6.2%;

    
     }

.ox1 {
    background-color: red;

}
.ox2{
    background-color: green;

}
.ox3 {
    background-color: 
    blue;
}
.ox4 {
    background-color: yellow;
}